:root{

    --cor-de-fundo: #EBECEE;

}

body{

    background-color:var (--cor-de-fundo);

}

h1{
    background-color: white;
}

.cabecalho-hamburguer{
    width: 24px;
    height 24px;
    display:inline-block;
background-image: url("../img/menu.svg");
background-repeat: no-repeat;
background-position: center;

}

.cabecalho{
    background-color:  var(ffffff);
    display:flex;
    justify-content: space-between
    align-items:center

}
.cabecalho{
    width: 24px
    height: 24px;;